body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15%;
}

.home h1 {
    font-size: 4em;
}

.home .options button {
    width: 30%;
    font-size: 1.5em;
    margin: 1.5%;
}

.home #signout {
    width: 96%;
    font-size: 1.5em;
    margin: 1.5%;
}

.home .options {
    width: 30%;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15%;
}

.login h1 {
  font-size: 4em;
}

.login form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login form input.text{
  margin-bottom: 15px;
}

.login form input.submit{
  align-self: center;
  width: 50%;
}

.login form .error{
  margin-top: 0;
  margin-bottom: 10px;
  align-self: center;
}

.login input {
  font-size: 1.5em;
}

.login p {
  color: red;
  font-size: 1.2em;
  margin-bottom: 5px;
}

.login button {
  margin-top: 20px;
}

.map {
  height: 100vh;
  width: 100vw;
}

.infoWindow {
  display: flex;
  flex-direction: column;
  max-height: 500px;
}

.infoWindow button {
  align-self: center;
  margin-top: 15px;
}